.spinner {
  text-align: center;
  padding: 30px 50px;
}

.max-drawdown span,
.max-drawdown .ant-statistic-content,
.max-drawdown .ant-statistic-content-value-decimal {
  font-size: 14px;
}

.logoRateotuTopMenu {
  float: left;
  width: 140px;
  height: 23px;
  margin: 4px 20px 5px 20px;
  background: rgba(255, 255, 255, 0.3);
}

.logoRateotuLeftMenu {
  float: left;
  width: 140px;
  height: 23px;
  margin: 4px 20px 5px 20px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-trigger {
  color: #ffffff;
  background-color: #d38c23;
}

.ant-menu-dark .ant-menu-submenu-title {
  background-color: #d38c23;
}

.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #d38c23;
}

.ant-menu-dark.ant-menu-vertical .ant-menu-submenu-title {
  color: #ffffff;
  background-color: #d38c23;
}

.ant-menu-light.ant-menu-vertical .ant-menu-submenu-title {
  background-color: #e6f8ff;
}
